<section>
  <h3><%=@product.title%></h3>
  <p><%=@product.description%></p>
  <%= link_to 'edit', edit_product_path(@product) %>
  <%= link_to 'delete', product_path(@product), method: :delete, data: { confirm: 'Are you sure?'} %>
</section>